# Build output
*.pyc
*.pyo
/ovirt-hosted-engine-ha-*.tar.gz
/ovirt-hosted-engine-ha.spec
/ovirt_hosted_engine_ha/agent/config.log
/ovirt_hosted_engine_ha/agent/constants.py
/ovirt_hosted_engine_ha/broker/config.log
/ovirt_hosted_engine_ha/broker/constants.py
/ovirt_hosted_engine_ha/lib/config.log
/ovirt_hosted_engine_ha/lib/constants.py
/sudoers/sudoers
/tmp.repos/

# Autotools
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/bin/Makefile
/bin/Makefile.in
/build/Makefile
/build/Makefile.in
/build/build-aux/
/config.log
/config.status
/configure
/doc/Makefile
/doc/Makefile.in
/ovirt_hosted_engine_ha/Makefile
/ovirt_hosted_engine_ha/Makefile.in
/ovirt_hosted_engine_ha/agent/Makefile
/ovirt_hosted_engine_ha/agent/Makefile.in
/ovirt_hosted_engine_ha/agent/agent-log.conf
/ovirt_hosted_engine_ha/client/Makefile
/ovirt_hosted_engine_ha/client/Makefile.in
/ovirt_hosted_engine_ha/broker/broker-log.conf
/ovirt_hosted_engine_ha/broker/Makefile
/ovirt_hosted_engine_ha/broker/Makefile.in
/ovirt_hosted_engine_ha/broker/notifications/Makefile
/ovirt_hosted_engine_ha/broker/notifications/Makefile.in
/ovirt_hosted_engine_ha/broker/submonitors/Makefile
/ovirt_hosted_engine_ha/broker/submonitors/Makefile.in
/ovirt_hosted_engine_ha/env/Makefile
/ovirt_hosted_engine_ha/env/Makefile.in
/ovirt_hosted_engine_ha/env/config.log
/ovirt_hosted_engine_ha/env/constants.py
/ovirt_hosted_engine_ha/lib/Makefile
/ovirt_hosted_engine_ha/lib/Makefile.in
/initscripts/Makefile
/initscripts/Makefile.in
/initscripts/config.log
/initscripts/ovirt-ha-agent.init
/initscripts/ovirt-ha-broker.init
/sudoers/Makefile
/sudoers/Makefile.in
/sudoers/config.log

# PyCharm, IntelliJ IDEA-specific files
*.iml
*.idea

# Editor backups
*.bak
*.*~
.*.*.sw?
