[Unit]
Description=oVirt Hosted Engine High Availability Monitoring Agent
Wants=ovirt-ha-broker.service
After=ovirt-ha-broker.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/ovirt-ha-agent
ExecStart=/lib/systemd/systemd-ovirt-ha-agent start
ExecStop=/lib/systemd/systemd-ovirt-ha-agent stop

[Install]
WantedBy=multi-user.target
Also=ovirt-ha-broker.service
