[Unit]
Description=oVirt Hosted Engine High Availability Monitoring Agent
Wants=ovirt-ha-broker.service
Wants=vdsmd.service
Wants=sanlock.service
After=ovirt-ha-broker.service
After=vdsmd.service
After=sanlock.service

# See https://bugzilla.redhat.com/1164226
ConditionPathExists=/etc/ovirt-hosted-engine/hosted-engine.conf

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/ovirt-ha-agent
ExecStart=/usr/lib/systemd/systemd-ovirt-ha-agent start
ExecStop=/usr/lib/systemd/systemd-ovirt-ha-agent stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
Also=ovirt-ha-broker.service
